---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/00.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/global.css" />
    <title>地苓苓的堇青石</title>
  </head>
  <body>
    <canvas id="star-canvas"></canvas>
  </body>
</html>
